a {
  outline: none;
}

.btn {
  outline: none;
  border: 1px solid blue;
  background-color: rgb(0, 0, 255, 0.4);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  width: 40%;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--color-hover);
  }

  &:focus-visible {
    background-color: var(--color-focus);
  }

  &:active:not(:focus-visible) {
    background-color: rgb(231, 125, 125, 0.4);
  }
}

.btn-preloader {
  svg {
    stroke: #fff;
  }
}


