// ===============
// colors palette
// ===============
:root {
  // Site colors (Цвета сайта):
  // =================================================================
  --color-hover: #8d9de4;
  --color-focus: rgb(141, 157, 228, 0.6);
  --color-active: rgb(231, 125, 125);
}
